<h1 class="text-3xl font-bold">
  Login
</h1>
<form [formGroup]="loginForm"
  (ngSubmit)="login()">
  <mat-form-field appearance="fill"
    class="mb-4">
    <mat-label>Email</mat-label>
    <input matInput
      placeholder="leerox@gmail.com"
      formControlName="email">
    @if (loginForm.controls.email.hasError('required')) {
      <mat-error>Please provide an email.</mat-error>
    }
    @if (loginForm.controls.email.hasError('email')) {
      <mat-error>Please provide a valid email.</mat-error>
    }
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput
      formControlName="password">
    @if (loginForm.controls.password.hasError('required')) {
      <mat-error>Please provide a password.</mat-error>
    }
    @if (loginForm.controls.password.hasError('minlength')) {
      <mat-error>Password must be 8 characters long.</mat-error>
    }
  </mat-form-field>

</form>

<!-- {{ loginForm.controls.password.errors | json}} -->
