<!-- 
  Single Slot Content Projection

  https://angular.io/guide/content-projection#single-slot-content-projection

  Creating a component in which you can project another component into.

  For example, the parent component will reference this one AND whatever is
  passed into it between the open and close tag will be projected into the HTML.

  Basically, ng-content is replaced with the html markup / component that is passed
  into it.

  <app-single-projection>
    <p>Okay, this is kinda cool!</p>
  </app-single-projection>
  
 -->
<h2>Single Content Projection</h2>
<ng-content></ng-content>
