.nav {
  width: 10rem;
  max-width: 10rem;

  .link {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 1rem 0;
    border: 1px solid lightgray;
    border-style: inset;
  }
}
